[mysqld]
pid-file = /home/vagrant/db.mysql/mysqld.pid
socket = /home/vagrant/db.mysql/mysqld.sock
datadir = /home/vagrant/db.mysql
max-allowed-packet = 128MB

[client]
socket = /home/vagrant/db.mysql/mysqld.sock
